{% extends "base.html" %}

{% block content %}

vehicle details
<br>
<h1>{{vehicle.brand}}{{vehicle.model.model}}{{vehicle.year}}</h1>
<img src="{{ vehicle.photo.url }}" alt="">
<p>Transmission:{{vehicle.transmission}}</p>
<p>
    <a href="{% url 'vehicle_list' %}">Go back to listing </a>
</p>

fgfgfg

{% endblock content %}